*{ box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 1.5rem;
}

h1, h2 {
  font-weight: bold;
  color: slateblue;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 20px;
}

a {
  color: rgb(30, 144, 255);
}